<!DOCTYPE html>
<html>
  <head>
    <title>¿Hagamos un Asadito?</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">

    <script src="https://use.fontawesome.com/edd1228540.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified JavaScript -->
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>

    <footer>
      <div class="container">
          <div class="row">
                    <div class="col-md-10">
                          Sitio web desarrollado por Marisol Martínez, Javier Silva y Maximiliano Vilaza </br>
                          Alumnos de la Academia de Talentos Digitales <a href="https://www.desafiolatam.com" target="_blank">Desafío Latam</a>
                    </div>
                       

                    <div class="col-md-2">
                       <a href="https://www.desafiolatam.com" target="_blank"> <%= image_tag 'desafio-latam-logo-horizontal-blanco.png', class: 'footer-logo' %></a>
                    </div>
   
        </div>
     </div>
   </footer>

   <script type="text/javascript">

$(document).on("turbolinks:load",function() { 
var docHeight = $(window).height();
var footerHeight = $('footer').height();
var footerTop = $('footer').position().top + footerHeight;  
if (footerTop < docHeight) {
$('footer').css('margin-top', 10 + (docHeight - footerTop) + 'px');
}
});
</script>

  </body>
</html>
