<!DOCTYPE html>
<html lang="en">

<%= render 'header' %>

	<section>
	<div class="container">
				<div class="row">
					<div class="col-md-12 center">

						<h1>Resumen del c치lculo</h1>

						<p>Est치s preparando su asado:</p>

						<div><i class="fa fa-users" aria-hidden="true"></i> Total de invitados <%= @suma_invitados %></div>

						<div>Tendr치s un asado <strong style="text-transform:uppercase;"><%= @calidad %></strong>, para esto deber치s comprar: </div>

						<div>Debes comprar <%= @carne_total %> kg de <%= @carne %> </div>
						<div>El costo total de la carne es de <%= @precio_carne %> </div>


						<div>Debes comprar <%= @cerveza_total %> lts de <%= @cerveza %> </div>


					</div>

				</div>
	</div>
			
		
	</section>


</body>
</html>
