<h1>Resumen del cálculo</h1>

<div>Total de invitados <%= @suma_invitados %></div>
<div>Debes comprar <%= @carne_total %> kg de <%= @carne %> </div>
<div>Debes comprar <%= @cerveza_total %> lts de <%= @cerveza %> </div>

<div>El costo total de la carne es de <%= @precio_carne %> </div>
