<!DOCTYPE html>
<html lang="en">

<%= render 'header' %>

	<section>
	<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 center">

						<h1>¿Qué tengo que comprar para mi asado?</h1>

						<p>¡Qué buen asado que se nos viene!</p>
						
						<div class="box-area">
						<i class="fa fa-users" aria-hidden="true"></i>
						<div> Total de invitados <%= @suma_invitados %> 
							<small>
								H:<%= @hombres %>
								M:<%= @mujeres %>
								N:<%= @ninos %>
		
							 </small>
						 </div>
						</div>
						
						<div class="box-area">
							<i class="fa fa-cutlery" aria-hidden="true"></i>
							<div>
								Tendrás un asado <strong style="text-transform:uppercase;">
								<%= @calidad_hash[@calidad] %></strong>, para esto deberás comprar: 

							</div>

							<div>

							<ul> 
									<% if @carne!="" %>
											<li><%= @carne_total.round(1) %> kg de <%= @carne %> </li>
									<% end %>
									
									<% if @embutido!="" %>
											<li><%= @embutido_total.round(1) %> kg de <%= @embutido %></li>
									<% end %>

									<% if @carbon!="" %>
											<li><%= @carbon %> kg de Carbón</li>
									<% end %>

									<% if @pan!="" %>
											<li><%= @pan %> unidades de Pan Marraqueta</li>
									<% end %>

							</ul>  
							</div>
						</div>

						<div class="box-area">
							<div>
								El costo total del asado es de $<%= number_with_delimiter(@precio_total.to_i) %> /
								<small>$<%= number_with_delimiter((@precio_total/@suma_invitados).to_i) %> por invitado</small>
							</div>

						</div>


						<a href="/"><button><i class="fa fa-angle-left" aria-hidden="true"></i> Volver</button></a>


					</div>

				</div>
	</div>
			
		
	</section>


</body>
</html>
