<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hagamos un Asadito</title>
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
</head>
<body>
	<%= render 'header' %>
	<section>

		<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 center">
				<%= form_tag(pages_calculo_path, method: :get, id: "form_seleccion_asado") do %>

				<h1 class="text-center">¿Cuánto debo comprar para los asados de este 18'?</h1>

				<p class="text-center">No te vuelvas mono calculando tu asado, te entregamos la herramienta perfecta para este Septiembre. Indique la cantidad de comensales y cómo anda el saldo en el banco.</p>


				<h3 class="text-center">Cantidad de Invitados</h3>
					<div class="row">

								<div class="inv col-md-4">
									<%= number_field_tag 'hombres', nil, placeholder: 'Cantidad de hombres' %> 
								</div>
								<div class="inv col-md-4"> 
									<%= number_field_tag 'mujeres', nil, placeholder: 'Cantidad de mujeres' %> 
								</div>
								<div class="inv col-md-4"> 
									<%= number_field_tag 'ninos', nil, placeholder: 'Cantidad de niños' %> 
								</div>
					</div>

				<div class="inv"> <%= select_tag "calidad", options_for_select([["Presupuesto Beca JUNAEB $","t1"], ["Presupuesto Yerno sin Aguinaldo $$","t2"], ["Presupuesto Recién Pagado $$$","t3"], ["Presupuesto Alexis Sánchez $$$$","t4"]]), {prompt: '¿Cuál es tu presupuesto?'} %></div>



				<div id="t1" class= "hide_text">
				    Muchos hemos pasado por las penurias económicas de ser un estudiante de Educación Superior, incluso sin serlo. No por qué los piticlines nos falten, nos vamos a perder la oportunidad de compartir alrededor de una parrilla. <strong>Choripán</strong> con pebre nunca va a fallar.
				</div>

				<div id="t2" class= "hide_text">
				    Se agradece el esfuerzo pero es conocido que el yerno no va a sacar lo mejor cuando se tiene que rajar. Una <strong>Sobrecostilla y Choripán</strong> siempre va a ser una buena relación precio/calidad, una razón más para querer al yerno además de aguantar a la/el hij@.
				</div>

				<div id="t3" class= "hide_text">
				    Cuando las cosas andas bien hay que mostrarlo y qué mejor que un asado para soltar la tarjeta de crédito y disfrutar con los amigos. <strong>Lomo Vetado y una buena Longaniza</strong> subirán el pelo a nuestra tradición. 
				</div>

				<div id="t4" class= "hide_text">
				    Todos de vez en cuando queremos tirar la casa por la ventana y creernos Alexis Sánchez por un rato. Nos podrán faltar los perros, pero nunca un buen corte de <strong>Wagyu y un choripán de primera</strong>
				</div>


				
				<%= submit_tag 'Calcular Compras Asado', id: "btn_enviar_seleccion", class: 'enviar btn-enviar', disabled: "disabled"%>
				<div class="text-center">
				<small id="completa-form">Complete los datos para continuar</small></div>

				<div class="text-center">
				<small id="completa-form">*Los cálculos son en base a valores reales de precios de Supermercados en Chile</small></div>
				<% end %>	
				</div>
			</div>
		</div>
			</div>
		</div>

		
	</section>


<script>
$(document).on("turbolinks:load",
    function() {
    	text1 = $('#hombres')
    	text2 = $('#mujeres')
    	text3 = $('#ninos')
    	select1 = $('#calidad')
    	$("#form_seleccion_asado").change(function(){
	    	if (text1.val() != "" && text2.val() != "" && text3.val() != "" && select1.val() != "" ) {
	    		$("#btn_enviar_seleccion").removeClass("btn-enviar");
	    		$("#btn_enviar_seleccion").removeAttr("disabled");
	    		$("#completa-form").hide();
	    	}else{
	    		$("#btn_enviar_seleccion").addClass("btn-enviar");
	    		$("#btn_enviar_seleccion").attr("disabled");
	    		$("#completa-form").show();
	    	}   		
    	});

    	$(".hide_text").hide();
        $(".inv select").change(
            function() {
                $(".hide_text").hide();
                $("#" + this.value).show();
            });
        $("#language").change();
    });
    </script>

</body>
</html>

